body {
  font-family: var(--text);
  color: var(--foreground);
  background-color: var(--background);
  font-size: var(--font-base);
  line-height: var(--leading-6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
}

code {
  font-family: var(--monospace);
}

hr {
  margin-block: 48px;
  border: none;
  border-top: 1px solid var(--border);
}

:focus {
  outline-offset: 3px;
  outline-color: var(--ring);
  outline-width: 2px;
}
