/* Button */

/* Default (primary) */

.button {
  display: inline-flex;
  height: 2.5rem;
  padding: var(--spacing-2) var(--spacing-3);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2);
  border: 1px solid transparent;
  border-radius: var(--rounded-md);
  background-color: var(--primary);
  cursor: pointer;

  font-size: var(--font-sm);
  color: var(--primary-foreground);
  line-height: var(--leading-5);
  font-weight: 500;
}

.button:hover {
  position: relative;
  background-color: var(--primary-hover);
}

.tooltip {
  position: absolute;
  min-width: 8rem;
  max-width: 10rem;
  background-color: var(--background);
  color: var(--foreground);
  text-align: center;
  border-radius: var(--rounded-md);
  padding: var(--spacing-2) var(--spacing-1);
  font-size: var(--font-xs);
  z-index: 1;
  opacity: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  pointer-events: none;
  animation: fadeIn 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    bottom: 100%;
  }
  to {
    opacity: 1;
    bottom: 125%;
  }
}

.button:active {
  background-color: var(--primary-active);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
}

/* Secondary */

.button--secondary {
  background-color: var(--secondary);
  color: var(--secondary-foreground);
}

.button--secondary:hover {
  background-color: var(--secondary-hover);
}

.button--secondary:active {
  background-color: var(--secondary-active);
}

/* Outline */

.button--outline {
  border-color: var(--border);
  background-color: var(--background);
  color: var(--secondary-foreground);
}

.button--outline:hover {
  background-color: var(--background-hover);
}

.button--outline:active {
  background-color: var(--background-active);
}

/* Sizes */

.button--sm {
  height: 2.25rem;
  padding: var(--spacing-2) var(--spacing-3);
}

.button--lg {
  height: 2.75rem;
  padding: var(--spacing-2) var(--spacing-8);
}

.button--icon {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
}
