/*
<header class="header">
  <div class="container header__container">
    <img
      src="assets/images/codeable-logo-sm.svg"
      alt="codeable-logo"
      width="135"
      height="32"
      class="header__logo"
    />
    <nav class="navigation header__navigation">
      <ul>
        <li><a href="/diagramas.html">Diagramas VV</a></li>
        <li><a href="/funciones.html">Funciones</a></li>
        <li><a href="/dom.html">Manipulación del DOM</a></li>
      </ul>
    </nav>
    <p class="header__name">Diego Torres</p>
  </div>
</header>
*/

.header {
  padding: var(--spacing-4, 16px) 0px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 1rem;
}

.header__name {
  color: var(--muted-foreground, #525252);
  font-weight: 600;
  line-height: var(--leading-6);

  margin-left: auto;
}
