.home {
  text-align: center;
}
.home__logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.home__title {
  font-size: var(--font-4xl);
  font-weight: 800;
  line-height: var(--leading-10);

  margin-bottom: 0.5rem;
}

.home__subtitle {
  color: var(--muted-foreground, #525252);
  font-size: var(--font-2xl);
  font-weight: 700;
  line-height: var(--leading-8);

  margin-bottom: 0.5rem;
}

.home__name {
  color: var(--muted-foreground, #525252);
  font-size: var(--font-xl);
  font-weight: 600;
  line-height: var(--leading-8);

  margin-bottom: 1rem;
}

.centered-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}