/* 
<a href="#" class="link link--branded">
  Link Text
  <svg>..</svg>
</a>
*/

.link {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  color: var(--foreground);
  font-size: var(--font-sm);
  font-weight: 500;
  line-height: var(--leading-6);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link--branded {
  color: var(--primary);
}
